body {
  /* vh = view port height */
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
}

.navbar img {
  flex-shrink: 0;
}

ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 10px;
  margin: 0;
  padding: 0;

  color: black;
}

.right-side {
  display: flex;
  align-items: center;
  padding: 10px;
}

.left-side {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

/* Style the welcome message */
.welcome-message {
  text-align: center;
  margin-top: 2rem;
}

.welcome-message h1 {
  font-size: 2rem;
  animation: typing 3s steps(40, end) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Style the search bar */
.search-bar {
  margin-top: 2rem;
  text-align: center;
}

.search-bar input {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

/* Style the search results */
.search-results {
  margin-top: 1rem;
}
